[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
colorama = "*"
sqlalchemy = "*"
tabulate = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
